<IfModule mod_rewrite.c>
RewriteEngine On

#TODO: change line 5 as necessary
RewriteBase /simple_mvc/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /simple_mvc/index.php [L]
</IfModule>
